<a class="block px-5 py-4 text-sm tracking-wide transition-colors duration-75 bg-opacity-0 has-modal hover:text-hue bg-hue hover:bg-opacity-10">
    <h4 class="text-xs leading-tight">{% block label %}{% endblock %}</h4>
    <p class="text-xs text-white text-opacity-75 font-text">{% block description %}{% endblock %}</p>
<a/>
