 {% import "components/_button.njk" as button %}

<section id="about" class="relative pt-24" x-data="{open: false}">
        <div class="grid items-start justify-between grid-cols-1 md:grid-cols-12 gap-x-12 gap-y-6">
            <div class="flex col-span-full">
                <h2 class="text-xs tracking-wider rounded-full text-hue font-display">About Activate:Chi</h2>
            </div>
            <div class="max-w-xl space-y-6 md:space-y-10 col-span-full md:col-span-7 lg:col-span-8">
                <p class="text-2xl">
                    {{ aboutSection.snippet }}
                </p>
                <div @click="open = !open">
                    {{ button.button("Read our story", as="button") }}
                </div>
            </div>
            <dl class="max-w-sm pt-6 text-lg md:pt-0 col-span-full md:col-span-5 lg:col-span-4">
                <dt class="font-display">Our mission</dt>
                <dd class="text-lg text-white text-opacity-50">
                    {{ aboutSection.mission }}
                </dd>
                <dt class="mt-10 font-display">Our vision</dt>
                <dd class="text-lg text-white text-opacity-50">
                    {{ aboutSection.vision }}
                </dd>
            </dl>
        </div>
        <div class="fixed inset-y-0 right-0 z-20 w-full max-w-2xl p-16 transition-transform transform bg-opacity-75 border-l border-white border-opacity-25 noise-bg bg-gray"
            @click.away="open = false"
            x-show="open === true"
            x-transition:enter-start="translate-x-full"
            x-transition:leave-end="translate-x-full">
                <div class="flex flex-col items-start justify-between text-base col-span-full">
                <button @click="open = false" class="inline-flex p-5 border-white border-opacity-75 btn-outline">
                    <span class="block w-5 h-5 text-current transform rotate-90">{% include "img/arrow.svg" %}</span>
                </button>
            </div>
            <h2 class="mt-12 text-2xl font-display">Our Story</h2>
            <div class="mt-4 prose">
            <p>Activate:Chi is a collective of multicultural and multigenerational community organizers initially brought together by our hunger for justice in the wake of the brutal police killings of George Floyd, Breonna Taylor, Tony McDade, and more.</p>
            <p>The organizers of Activate met through social media outlets, at first just hoping to host one successful action, but after our success we decided to use our complementary skills and backgrounds to strive for greater change in the systems that continually marginalize many communities in Chicago and beyond. As a whole we believe in empowering others to make change within their own communities, preferring to provide the initiating energy, organization, and resources for grassroots organizers (or soon to be grassroots organizers) to be the change they wish to see in this world.</p>
            </div>
        </div>
        <div class="fixed inset-0 z-10 transition-opacity bg-opacity-80 bg-gray" x-show="open === true" x-transition:enter-start="opacity-0"
            x-transition:leave-end="opacity-0"></div>
    </section>
