 {% import "components/_button.njk" as button %}

<section id="about">
        <div class="grid items-start justify-between grid-cols-12 gap-6 py-8">
            <div class="flex col-span-12">
                <h2 class="text-xs tracking-wider rounded-full text-hue font-display">About Activate:Chi</h2>
            </div>
            <div class="max-w-xl col-span-8 space-y-10">
                <p class="text-2xl">
                    {{ aboutSection.snippet }}
                </p>
                {{ button.button("Read our story", as="button") }}
            </div>
            <dl class="col-span-4">
                <dt class="font-display">Our mission</dt>
                <dd class="text-white text-opacity-50">
                    {{ aboutSection.mission }}
                </dd>
                <dt class="mt-10 font-display">Our vision</dt>
                <dd class="text-white text-opacity-50">
                    {{ aboutSection.vision }}
                </dd>
            </dl>
        </div>
    </section>
