 {% import "components/_button.njk" as button %}
 <a href="/biden-tracker" class="group">
    <div class="grid px-8 py-8 border md:px-12 lg:px-20 md:rounded-full gap-y-8 border-opacity-60 border-hue md:grid-cols-2 sm:py-12 bg-opacity-5">
        <div class="flex items-center justify-center border-white border-opacity-25 md:pr-12 md:border-r">
            <div class="max-w-full transition-transform transform duration-0 group-hover:rotate-3 w-72 -rotate-3">
                {% include "img/bidenLogo.svg" %}
            </div>
            <h3 class="sr-only">Activate:Chi's Biden Promise Tracker!</h3>
        </div>
        <div class="flex flex-col items-center space-y-6 text-center md:text-left md:items-start md:pl-12">
            <div class="space-y-2">
                <span class="text-sm tracking-wider text-hue text-opacity-90">Current Initiative</span>
                <p class="text-lg leading-normal">We're keeping track of the Biden Administration's progress fulfilling their first 100 days campaign promises. Follow along and help us hold them accountable.</p>
            </div>
            {{button.button("Check it out", as="div")}}
        </div>
    </div>
</a>
