 {% import "components/_button.njk" as button %}

<a href="{{item.url}}" class="flex flex-col-reverse px-4 pt-6 pb-8 space-y-6 space-y-reverse border border-white border-opacity-25 lg:space-y-0 lg:p-5 lg:space-x-8 lg:flex-row group focus:outline-none">
    <div class="flex flex-col justify-between">
        <div class="flex flex-col items-center flex-1 p-1 space-y-6 lg:items-start lg:space-y-8">
            {% if item.data.tag %}
            <span class="flex items-center -space-y-0.5 space-x-1 text-xs">
                <span class="block w-4 h-4 text-hue">{% include "img/tag.svg" %}</span>
                <span class="text-opacity-90 text-hue">{{item.data.tag | title}}</span>
            </span>
            {% endif %}
            <div class="flex flex-col items-center space-y-2 lg:items-start">
                <h2 class="text-2xl leading-snug text-center lg:text-left">{{item.data.title}}</h2>
                <span class="text-base text-white text-opacity-60">By {{item.data.author}}</span>
            </div>
            {{button.button(text="Read article", as="div")}}
        </div>
    </div>
    <div class="flex-shrink-0 w-full overflow-hidden border border-white border-opacity-60 h-36 md:h-56 lg:h-64 lg:max-w-sm">
        <img loading="lazy" class="object-cover w-full h-full" src="{{item.data.image}}" alt="">
    </div>
</a>
