{% macro button(text, href, as="a", color=false, newTab=false) %}
    <{{as}}
    {% if href %}
        href="{{href}}"
    {% endif %}
    {% if newTab %}
        target="_blank"
    {% endif %}
    class="md:px-5 tracking-wide flex justify-center pt-3 pb-2 px-4 md:text-xs text-xxs btn-outline font-display {% if color %} border-hue border-opacity-75 btn-highlight{% endif %}">
        <span>{{text}}</span>
    </{{as}}>
{% endmacro %}
