{% macro button(text, href, as="a", color=false, newTab=false) %}
    <{{as}}
    {% if href %}
        href="{{href}}"
    {% endif %}
    {% if newTab %}
        target="_blank"
    {% endif %}
    class="md:px-5 tracking-wide flex justify-center pt-3 pb-2 px-4 text-xs btn-outline font-display {% if color %} border-hue border-opacity-75 btn-highlight{% endif %}">
        <span>{{text}}</span>
    </{{as}}>
{% endmacro %}

{% macro iconButton(as="a", onClick, href, icon, class, size) %}
    <{{as}}
        {% if onClick %}
            @click="{{onClick}}"
        {% endif %}
        {% if href %}
            href="{{href}}"
        {% endif %}
        class="inline-flex flex-shrink-0 items-center justify-center transition border-white border-opacity-75 btn-outline
        {% if size === "small" %}
            w-9 h-9
        {% else %}
            p-4
        {% endif %}
        {{class}}">
        <span class="block text-current
            {% if size === "small" %}
                w-2.5 h-2.5
            {% else %}
                w-3.5 h-3.5
            {% endif %}"
        >{% include icon %}</span>
    </{{as}}>
{% endmacro %}
