 {% import "components/_button.njk" as button %}

<section id="email" class="relative pt-8">
    <div class="grid max-w-2xl grid-cols-12 p-16 mx-auto border gap-x-12 gap-y-8 border-hue bg-hue bg-opacity-5">
        <div class="col-span-full">
            <h2 class="text-2xl text-center font-display">Sign up for our email list to be notified about our future initiatives.</h2>
        </div>
        <div class="flex flex-col items-center space-y-6 col-span-full">
            <label class="flex items-center self-stretch px-6 py-4 space-x-6 text-2xl leading-none tracking-wide bg-opacity-50 border border-opacity-75 divide-x divide-white divide-opacity-25 focus-within:bg-white focus-within:bg-opacity-5 bg-gray border-hue focus-within:border-opacity-100 focus-within:outline-none">
                <span class="text-xs leading-tight tracking-wider text-white font-display max-w-min">Your email:</span>
                <input type="email" class="flex-1 py-2 pl-6 focus:outline-none bg-none">
            </label>
            {# <label class="flex flex-col self-stretch space-y-2">
                <span class="text-xs tracking-wider text-white rounded-full font-display">Your email</span>
                <input type="email" class="w-full px-6 py-6 text-2xl leading-none tracking-wide bg-opacity-50 border border-opacity-75 focus:bg-white focus:bg-opacity-5 bg-gray border-hue focus:border-opacity-100 focus:outline-none">
            </label> #}
            <input type="submit" value="Sign up" class="px-5 pt-3 pb-2 text-sm tracking-wide cursor-pointer btn-outline font-display"></input>
        </div>
    </div>
</section>
