
 {% import "components/_organizer.njk" as organizer %}
<section id="initiatives">
    <div class="grid items-start justify-between grid-cols-12 gap-6 py-8">
    <div class="flex col-span-full">
        <h2 class="text-xs tracking-wider rounded-full text-hue font-display">Our initiatives</h2>
    </div>

    <div class="col-span-6 text-base">
    </div>

</div>
</section>
