 {% import "components/_initiative.njk" as initiative %}
<section id="initiatives" class="pt-24">
    <div class="grid items-end justify-between grid-cols-12 gap-y-6">
        <div class="flex col-span-full">
            <h2 class="text-xs tracking-wider rounded-full text-hue font-display">Recent initiatives</h2>
        </div>
        <div class="flex col-span-full">
            <h3 class="text-3xl leading-normal tracking-wide text-white font-display">Our initiatives encourage individuals to start taking meaningful action from wherever they're at.</h2>
        </div>
        <ul class="border-t border-white border-opacity-25 col-span-full"
            x-data="{ selected: `none` }">
            {% for item in collections.initiative.reverse() %}
                {{ initiative.initiative(item.data.title, item.data.type, item.data.dates, item.data.summary, item.data.image) }}
            {% endfor %}
        </ul>
    </div>
</section>
