<section id="intro" class="space-y-0">
    <header class="space-y-8">
        <div class="flex justify-center h-48 space-x-4 col-span-full sm:h-64 md:h-72 lg:h-80">
            <div class="w-full">
                <img class="block object-cover w-full h-full border border-white border-opacity-50" src="{{introSection.bannerImage}}" alt="">
            </div>
        </div>
        <h1 class="text-4xl tracking-wide font-display">
            <span class="text-hue">Activate:Chi</span> {{introSection.introText}}
        </h1>
        <div class="flex flex-col items-start justify-between text-base col-span-full">
            <a href="#initiatives" class="inline-flex p-4 border-white border-opacity-75 btn-outline">
                <span class="block w-3.5 h-3.5 text-current">{% include "img/arrow.svg" %}</span>
            </a>
        </div>
    </header>
</section>
