    <section class="space-y-8">
        <header class="space-y-8">
            <div class="flex justify-center space-x-4 col-span-full h-72">
            {% for item in headerImages %}
                <div>
                    <img class="block object-cover w-auto h-full border border-white border-opacity-50" src="{{item}}" alt="">
                </div>
            {% endfor %}
            </div>

            <h1 class="text-4xl leading-snug tracking-wide font-display">
                <span class="text-hue">Activate:Chi</span> {{introSection.introText}}
            </h1>

            <a href="#about" class="inline-flex p-4 btn-outline">
                <span class="block w-6 h-6 text-current">{% include "img/arrow.svg" %}</span>
            </a>
        </header>
    </section>
