    <section class="space-y-8">
        <header class="space-y-8">
        <div class="overflow-hidden">
            <div class="flex animate-marquee w-max">
                <div class="flex flex-shrink-0 pr-4 space-x-4 h-72" data-marquee>
                {% for item in headerImages %}
                    <img class="block object-cover w-auto h-full border border-white border-opacity-50" src="{{item}}" alt="">
                {% endfor %}
                </div>
            </div>
        </div>
            <h1 class="text-4xl leading-snug tracking-wide font-display">
                <span class="text-hue">Activate:Chi</span> {{introSection.introText}}
            </h1>
            <a href="#about" class="inline-flex p-4 btn-outline">
                <span class="block w-6 h-6 text-current">{% include "img/scroll-arrow.svg" %}</span>
            </a>
        </header>
    </section>
