{% macro organizer(name, job, summary, image) %}

<li class="relative flex flex-col" data-organizer="wrapper">
<button class="w-full py-3 text-left font-text group" @click="selected === '{{name}}' ? selected = 'none' : selected = '{{name}}'">
    <div class="flex items-center space-x-6 transition-all" data-organizer="metadata">
        <div class="flex flex-grow space-x-4 md:space-x-6">
            <div class="flex-shrink-0 w-16 h-24 overflow-hidden border border-white border-opacity-60 rounded-full">
                <img class="object-cover w-full h-full" src="{{image}}" alt="">
            </div>
            <div class="flex flex-col justify-center flex-grow">
                <h3 class="text-base font-display">{{name}}</h3>
                <p class="text-base tracking-wide text-white text-opacity-60">{{job}}</p>
            </div>
        </div>
        <div class="flex items-center justify-center flex-shrink-0 rounded-full w-9 h-9 btn-outline group-focus:ring">
            <span :class="{'rotate-135' : selected === '{{name}}'}" class="block w-2.5 h-2.5 transition transform">{% include "img/plus.svg" %}</span>
        </div>
        </div>
    </button>
    <div
    x-bind:style="selected === '{{name}}' ? 'max-height: var(--summary-height)' : 'max-height: 0'"
    class="overflow-hidden transition-all transform" data-organizer="summary">
        <div class="px-1 pb-4 text-base text-white text-opacity-75">
            {{summary}}
        </div>
    </div>
</li>
{% endmacro %}
