<section id="text" class="container relative pt-36" x-data="{}">
    <h2 class="max-w-5xl mx-auto text-6xl leading-tight text-center text-hue font-display">
        <a id="text-cta" class="group"  href="sms:60611&body=ACTIVATE">Text <span class="text-white group-hover:underline">ACTIVATE</span> to <span class="text-white group-hover:underline">60611</span> to get action updates.</a>
    </h2>
</section>
