---
layout: default
title: Biden Promise Tracker
eleventyExcludeFromCollections: true
socialSnippet: Keep track of the Biden Administration's progress fulfilling their first 100 days campaign promises.
---

{% block body %}
        <div class="">
            <header class="pt-8">
                <div class="flex flex-col items-center space-y-16">
                    <div class="w-full max-w-3xl pt-2 mx-auto transform -rotate-3">
                        {% include "img/bidenLogo.svg" %}
                    </div>
                    <h1 class="sr-only">Activate:Chi's Biden Promise Tracker!</h1>
                    <div class="flex flex-col items-center space-y-8">
                        <div class="max-w-2xl mx-auto prose text-center">
                            <div class="text-2xl leading-normal">We're keeping track of the Biden Administration's progress fulfilling their first 100 days campaign promises. Follow along and help us hold them accountable.</div>
                        </div>
                        <a href="#table" class="inline-flex p-4 border-white border-opacity-75 btn-outline">
                            <span class="block w-3.5 h-3.5 text-current">{% include "img/arrow.svg" %}</span>
                        </a>
                    </div>
                </div>
            </header>
            <main id="table" class="pt-24 space-y-24">
                <div class="grid grid-cols-2 py-4 mx-auto tracking-widest text-white text-opacity-75 uppercase border divide-x divide-white border-hue border-opacity-60 bg-hue divide-opacity-25 bg-opacity-5 text-xxs sm:grid-cols-4">
                    <div class="flex flex-col items-center justify-center row-span-3 px-4 space-y-4 sm:row-span-1">
                        <h3>Total promises</h3>
                        <span class="block text-3xl leading-none text-white font-display">{{collections.bidenTracker.length}}</span>
                    </div>
                    <div class="flex flex-col items-center px-4 py-2 space-y-4 sm:py-0">
                        <h3>Not yet started</h3>
                        <span class="block text-3xl leading-none text-white font-display">
                            {% set notstartedcount = 0 %}
                            {% for item in collections.bidenTracker %}
                                {% if item.data.currentStatus === 2 %}
                                    {% set notstartedcount =  notstartedcount + 1 %}
                                {% endif %}
                            {% endfor %}
                            {{notstartedcount}}
                        </span>
                    </div>
                    <div class="flex flex-col items-center px-4 py-2 space-y-4 sm:py-0">
                        <h3>In progress</h3>
                        <span class="block text-3xl leading-none text-white font-display">
                            {% set inprogresscount = 0 %}
                                {% for item in collections.bidenTracker %}
                                    {% if item.data.currentStatus === 1 %}
                                        {% set inprogresscount =  inprogresscount + 1 %}
                                    {% endif %}
                                {% endfor %}
                            {{inprogresscount}}
                        </span>
                    </div>
                    <div class="flex flex-col items-center px-4 py-2 space-y-4 sm:py-0">
                        <h3>Completed</h3>
                        <span class="block text-3xl leading-none text-white font-display">
                            {% set completedcount = 0 %}
                                {% for item in collections.bidenTracker %}
                                    {% if item.data.currentStatus === 0 %}
                                        {% set completedcount =  completedcount + 1 %}
                                    {% endif %}
                                {% endfor %}
                            {{completedcount}}
                        </span>
                    </div>
                </div>
                <div>
                    <div class="hidden tracking-widest text-white text-opacity-75 uppercase lg:grid text-xxs lg:grid-cols-12">
                        <div class="px-4 pb-2 pl-0 border-b border-white border-opacity-60 lg:col-span-4">Name</div>
                        <div class="px-4 pb-2 border-b border-white border-opacity-60 lg:col-span-2">Status</div>
                        <div class="px-4 pb-2 pr-0 border-b border-white border-opacity-60 lg:col-span-6">Status description</div>
                    </div>
                    <ul class="border-t border-white border-opacity-25 lg:border-none">
                        {% for item in collections.bidenTracker | alphabetize("currentStatus") %}
                            {% include "components/_biden-promise.njk" %}
                        {% endfor %}
                    </ul>
                </div>
            </main>
        </div>
{% endblock %}
