---
layout: default
title: Home
---
<main class="space-y-8 md:space-y-16">
    {# hero section #}
    {% include "components/_intro-section.njk" %}
    {# initiatives section #}
    {% include "components/_initiatives-section.njk" %}
    {# email section #}
    {% include "components/_email-section.njk" %}
    {# about section #}
    {% include "components/_about-section.njk" %}
    {# team section #}
    {% include "components/_organizers-section.njk" %}
    {# footer section #}
    {% include "components/_footer.njk" %}
</main>
