---
layout: default
title: Home
---

<main class="space-y-16">
    {# hero section #}
    {% include "components/_home-header.njk" %}

    {# about section #}
    {% include "components/_home-about.njk" %}

    {# team section #}
    {% include "components/_home-organizers.njk" %}

</main>
