---
layout: default
title: Open Positions
eleventyExcludeFromCollections: true
socialSnippet: Apply to become an organizer for Activate:Chi!
---

{% import "components/_button.njk" as button %}

{% block body %}
    <main class="space-y-16">
        <div class="gap-y-6 site-grid">
            <header class="pt-8 space-y-4 col-span-full">
                <div class="space-y-1">
                    <h1 class="text-4xl leading-snug tracking-wide font-display">{{title}}</h1>
                    <h2 class="max-w-2xl text-2xl text-white text-opacity-75">We're looking to bring on new organizers! Check out the open positions below and apply if you're interested in joining our team.</h2>
                </div>
            </header>
            <aside class="flex flex-col items-start space-y-6 col-span-full lg:col-span-3 lg:row-start-2 lg:sticky top-32">
                <div class="w-full space-y-4 lg:space-y-6">
                    <h2 class="pt-4 text-sm text-white text-opacity-75 border-t border-white border-opacity-25">Current open positions:</h2>
                    <ul class="grid grid-cols-2 gap-4 md:grid-cols-3 lg:space-y-2 lg:block">
                        {% for item in collections.openPosition | alphabetize("name") %}
                            <li class="text-sm">
                                <a href="#{{ item.data.name | lower | replace(' ', '-') }}"
                                    @click="activeCategory === '{{type}}' ? activeCategory = 'both' : activeCategory = '{{type}}'"
                                    :class="{'text-hue text-opacity-100' : activeCategory == '{{type}}'}"
                                    class="text-base tracking-wide text-white text-opacity-90 focus:ring hover:underline">
                                    {{ item.data.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="hidden lg:block">
                    {{ button.button("Apply now!", "https://forms.gle/vkPRoNZoDKJR3jkt9", color=true, newTab=true) }}
                </div>
            </aside>
            <main class="space-y-16 col-span-full lg:col-span-9">
                {% for item in collections.openPosition | alphabetize("name") %}
                    <article  id="{{ item.data.name | lower | replace(' ', '-') }}" class="flex flex-col pt-24 space-y-8 border-t border-white border-opacity-25 sm:pt-16" style="scroll-margin-top: 8rem">
                        <div class="prose">
                            <h2>{{ item.data.name }}</h2>
                            {{ item.templateContent | markdownify | safe }}
                        </div>
                        <div class="self-center block lg:hidden">
                            {{ button.button("Apply now!", "https://forms.gle/vkPRoNZoDKJR3jkt9", color=true, newTab=true) }}
                        </div>
                    </article>
                {% endfor %}
            </main>
        </div>
    </main>
{% endblock %}
