{% include "components/_html-head.njk" %}


<body class="flex flex-col min-h-screen text-xl antialiased leading-normal text-white font-text bg-gray">

<div class="container pt-12">
    {{ content | safe }}
</div>

<div class="fixed top-0 bottom-0 left-0 right-0 bg-repeat bg-gray animate-hue -z-1"
style="background-image: url('./assets/images/noise.png'); background-size: 300px;"></div>

{% include "components/_html-foot.njk" %}
