{% include "components/_html-head.njk" %}


<body class="flex flex-col min-h-screen antialiased leading-normal font-text text-gray text-default bg-yellow">

<div class="">
    {{ content | safe }}
</div>

{% include "components/_html-foot.njk" %}
