---
layout: default
---
 {% import "components/_page-header.njk" as header %}
<main class="space-y-6">
    {{header.pageHeader(title="Activate:Chi Announcements")}}
    <ul class="">
    {% for item in collections.announcements | alphabetize(date) %}
        <li class="py-4 first:pt-0 last:pb-0">
            <a class="flex flex-col space-y-1 text-white text-opacity-75 hover:text-opacity-90 group" href="{{item.url}}">
                <span class="text-xs text-hue">{{item.data.date | readableDate}}</span>
                <span class="group-hover:underline">{{item.data.title }}</span>
            </a>
        </li>
    {% endfor %}
    </ul>
</main>
