---
layout: default
eleventyExcludeFromCollections: true
---
{% import "components/_page-header.njk" as header %}
{% import "components/_initiative.njk" as initiative %}

<main class="space-y-6">
    {{header.pageHeader(title="All Initiatives", center=true)}}

    <ul class="border-t border-white border-opacity-25 col-span-full"
        x-data="{ selected: `none` }">
        {% for item in collections.initiative | alphabetize("date") | reverse() %}
            {{ initiative.initiative(item.data.title, item.data.type, item.data.dates, item.data.summary, item.data.image, item.data.links) }}
        {% endfor %}
    </ul>
</main>
