.grid-absolute {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.grid-inset-0 {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.btn-outline {
  @apply relative overflow-hidden text-white transition transform border border-white border-opacity-50 rounded-full text-opacity-90 hover:text-opacity-100 hover:border-opacity-75 hover:scale-103 bg-gray;
}

.btn-outline::before {
  content: "";
  border-radius: inherit;
  @apply absolute inset-0 bg-white;
  opacity: 0;
  z-index: -1;
}

.btn-outline:hover::before {
  opacity: 0.05;
}
