[x-cloak] {
  display: none;
}

.grid-absolute {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.grid-inset-0 {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.btn-outline {
  @apply relative inline-flex overflow-hidden text-white transition transform border border-white rounded-full border-opacity-60 focus:outline-none focus:ring text-opacity-90 hover:text-opacity-100 hover:border-opacity-75 hover:scale-103 group-hover:text-opacity-100 group-hover:border-opacity-75 group-hover:scale-103 bg-gray;
}
.btn-outline::before {
  content: "";
  border-radius: inherit;
  @apply absolute inset-0 bg-white;
  opacity: 0;
  z-index: -1;
}
.btn-outline:hover::before,
.group:hover .btn-outline::before {
  opacity: 0.05;
}
.btn-highlight::before {
  @apply bg-hue;
}
.btn-outline.btn-highlight:hover::before,
.group:hover .btn-outline.btn-highlight::before {
  opacity: 0.07;
}
.organizer-grid li {
  @apply border-b border-white border-opacity-25;
}
.organizer-grid li:nth-child(1) {
  @apply border-t border-white border-opacity-25;
}
[data-organizer="summary"] {
  will-change: max-height;
}

.noise-bg {
  background-image: url("/assets/images/noise.gif");
  background-size: 300px;
}
@media (prefers-reduced-motion) {
  .noise-bg {
    background-image: url("/assets/images/noise.png");
  }
}

#mc_embed_signup input.mce_inline_error {
  border-color: theme("colors.hue") !important;
}
